extends ../layouts/default

block content
    .container: .jumbotron



        link(rel='stylesheet', href='/js/lib/owl.carousel/assets/owl.carousel.css')
        link(rel='stylesheet', href='/js/lib/owl.carousel/assets/owl.theme.default.css')
            
        .owl-carousel
            div
                img(src='http://lorempixel.com/300/200/sports/3', alt='image')
            div
                img(src='http://lorempixel.com/300/200/sports', alt='image')
            div
                img(src='http://lorempixel.com/300/200/sports/4', alt='image')
            div
                img(src='http://lorempixel.com/300/200/sports', alt='image')
            div
                img(src='http://lorempixel.com/300/200/sports', alt='image')
                
        img(src='/images/logo.svg', width='160')
        h1 Integrations page
        p The mobiletalk website automatically aggregates your social media feeds and display them on the for mobiletalk visitors to see. "Through the power of magic!"™
        p To set this up, simply link your social media accounts by using the buttons below.
        if user && user.canAccessKeystone
            p
                a(href='/keystone/signin').btn.btn-lg.btn-primary Open the Admin UI
        else
            p blah
            p
                a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
                    |  to use the Admin UI.
            hr
            p Remember to <a href='https://github.com/JedWatson/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
                | <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.


        script(src='/js/lib/jquery/jquery-1.11.1.min.js')
        script(src='/js/lib/owl.carousel/owl.carousel.js')
        script(src='/js/lib/mobiletalk/carousel.js')
